package com.bluecc.bluesrv.common;

import com.google.common.collect.ArrayListMultimap;
import com.google.common.collect.Multimap;

import java.util.Collection;
import java.util.HashMap;
import java.util.Map;

public enum {{e.typeName}} {
    {% for f in e.types -%}
    {{f.typeId}}("{{f.typeId}}", "{{f.description}}"){% if not loop.last %},{% endif %}
    {% endfor %};

    private static final Map<String, {{e.typeName}}> BY_TYPE = new HashMap<>();
    
    static {
        for ({{e.typeName}} e : values()) {
            BY_TYPE.put(e.typeId, e);
        }
    }

    public final String typeId;
    public final String description;

    private {{e.typeName}}(String typeId, String description) {
        this.typeId = typeId;
        this.description = description;
    }

    public static {{e.typeName}} valueOfType(String typeId) {
        return BY_TYPE.get(typeId);
    }
}

