package com.bluecc.bluesrv.{{table.module}}.controller;

import com.bluecc.bluesrv.{{table.module}}.entity.{{table.entityName}};
import com.bluecc.bluesrv.{{table.module}}.service.{{table.serviceName}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.servlet.support.ServletUriComponentsBuilder;

import java.net.URI;
import java.net.URISyntaxException;

/**
 * <p>
 *  {{table.controllerName}}
 *  <pre>
 *  $ curl localhost:8088/{{table.module}}/{{table.name}}/ping
 *  </pre>
 * </p>
 *
 * @author samlet
 * @since 2021-10-25
 */
@RestController
@RequestMapping("/{{table.module}}/{{table.name}}")
public class {{table.controllerName}} {
    private static final Logger logger = LoggerFactory.getLogger({{table.controllerName}}.class);

    @Autowired
    private {{table.serviceName}} {{table.serviceVar}};

    @RequestMapping(value = "ping", method = RequestMethod.GET)
    @ResponseBody
    public String ping(){
        return "pong";
    }

    @PostMapping("/")
    public ResponseEntity<{{table.entityName}}> create(@RequestBody {{table.entityName}} o)
            throws URISyntaxException {
        boolean createdStudent = {{table.serviceVar}}.save(o);
        if (!createdStudent) {
            return ResponseEntity.notFound().build();
        } else {
            URI uri = ServletUriComponentsBuilder.fromCurrentRequest()
                    .path("/{id}")
                    .buildAndExpand(o.getId())
                    .toUri();

            return ResponseEntity.created(uri)
                    .body(o);
        }
    }

    @GetMapping("/{id}")
    public ResponseEntity<{{table.entityName}}> read(@PathVariable Integer id) {
        {{table.entityName}} found= {{table.serviceVar}}.getById(id);
        if (found == null) {
            return ResponseEntity.notFound().build();
        } else {
            return ResponseEntity.ok(found);
        }
    }

    @PutMapping("/")
    public ResponseEntity<Boolean> update(@RequestBody {{table.entityName}} o) {
        boolean updated = {{table.serviceVar}}.saveOrUpdate(o);
        if (!updated) {
            return ResponseEntity.notFound().build();
        } else {
            return ResponseEntity.ok(updated);
        }
    }

    @DeleteMapping("/{id}")
    public ResponseEntity<Object> delete(@PathVariable Integer id) {
        boolean updated = {{table.serviceVar}}.removeById(id);
        if (!updated) {
            return ResponseEntity.notFound().build();
        } else {
            return ResponseEntity.ok(updated);
        }
    }
}


